* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#chatbox {
  background-color: #f1f1f1;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #2c3e50;
  padding-top: 2em;
}
/* CUSTOM SCROLLBAR FOR CHATBOX */
.chats::-webkit-scrollbar {
  width: 0.125em;
}
.chats::-webkit-scrollbar-thumb {
  background: #cfd8dc;
}
.chats::-webkit-scrollbar-thumb:hover {
  background: #b0bec5;
}
/* INPUT TEXT PLACEHOLDER CUSTOMIZE */
::-webkit-input-placeholder {
  color: #b0bec5;
}
::-moz-placeholder {
  color: #b0bec5;
}
:-ms-input-placeholder {
  color: #b0bec5;
}
:-moz-placeholder {
  color: #b0bec5;
}
/* IF WORK IN PROGRESS */
.progress {
  position: fixed;
  font-weight: 300;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
  font-size: 1em;
  line-height: 3em;
  text-transform: uppercase;
  opacity: 0.5;
}
#viewport {
  font-size: 18px;
  /* position: absolute;
top: 250%;
left:50%;
transform: translateX(-50%) translateY(-50%); */
}
#viewport > .chatbox {
  position: relative;
  /* right: 0;
  bottom: 7em; */
  display: block;
  float: left;
  margin: 1em;
  width: 60em;
  height: 36em;
  background-color: white;
  box-shadow: 0 0.25em 2em rgba(38, 50, 56, 0.1);
  overflow: hidden;
}
#viewport > .chatbox > .chats {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: table-cell;
  vertical-align: bottom;
  padding: 1em;
  margin-bottom: 2.875em;
  overflow: auto;
}
.chatbox ul {
  padding: 0;
}
.chatbox ul > li {
  position: relative;
  list-style: none;
  display: block;
  margin-top: 1.5em;
  margin: 1.5em 0;
  transition: 0.5s all;
}
.chatbox ul > li:after {
  display: table;
  content: "";
  clear: both;
}
.msg {
  max-width: 85%;
  display: inline-block;
  padding: 0.5em 1em;
  line-height: 1em;
  min-height: 2em;
  font-size: 0.875em;
  border-radius: 1em;
  margin-bottom: 0.5em;
  word-break: break-all;
  text-transform: capitalize;
}
.msg.him {
  float: left;
  background-color: #e91e63;
  color: #fff;
  border-bottom-left-radius: 0.125em;
}
.msg.you {
  float: right;
  background-color: #eceff1;
  color: #607d8b;
  border-bottom-right-radius: 0.125em;
}
.msg.load {
  background-color: #f8bbd0;
  border-bottom-left-radius: 0.125em;
}
.msg > span {
  font-weight: 500;
  position: absolute;
}
.msg > span.partner {
  color: #b0bec5;
  font-size: 0.5em;
  top: 0;
  font-size: 0.675em;
  margin-top: -1em;
}
.msg > span.time {
  color: #cfd8dc;
  font-size: 0.5em;
  bottom: -0.5em;
  display: none;
}
.msg:hover span.time {
  display: block;
}
.msg.him > span {
  left: 0;
}
.msg.you > span {
  right: 0;
}
.sendBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
}
.sendBox input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  display: block;
  width: 100%;
  border: none;
  padding: 0.75em 0.75em;
  line-height: 1.25em;
  border-top: 0.125em solid #eceff1;
  transition: 0.5s ease-in-out;
}
.chatbox  input:hover,
.chatbox input:focus,
.chatbox input:active {
  outline: none !important;
  border-top: 0.125em solid #e91e63;
}

/*  LOADING MESSAGE CSS */
.load .dot {
  display: inline-block;
  width: 0.375em;
  height: 0.375em;
  border-radius: 0.25em;
  margin-right: 0.125em;
  background-color: rgba(255, 255, 255, 0.75);
}
.load .dot:nth-last-child(1) {
  animation: loadAnim 1s 0.2s linear infinite;
}
.load .dot:nth-last-child(2) {
  animation: loadAnim 1s 0.4s linear infinite;
}
.load .dot:nth-last-child(3) {
  animation: loadAnim 1s 0.6s linear infinite;
}
@keyframes loadAnim {
  0 {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -0.25em);
  }
  50% {
    transform: translate(0, 0);
  }
}
